{% import '_includes/forms' as forms %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for categorizedErrors in errors %}
                {% for error in categorizedErrors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% from _self import errorList %}

{{ forms.autosuggestField({
    label: "JSON Template"|t('super-dynamic-fields'),
    instructions: "The template Craft CMS will use to get options"|t('super-dynamic-fields'),
    id: 'template',
    name: 'template',
    suggestions: craft.cp.getTemplateSuggestions(),
    required: true,
    value: settings.template,
    errors: (settings is defined ? settings.getErrors('template') : null),
}) }}

{{ forms.lightswitchField({
    label: 'Enable Cached Options?' | t('super-dynamic-fields'),
    instructions: 'If turned ON, we will create options from JSON on the first field load only, and will not parse JSON template for each and every same field on the given form.\nThis will make field load very fast. Turn this off, if you want to use element related queries in JSON template.' | t('super-dynamic-fields'),
    id: 'cachedOptions',
    name: 'cachedOptions',
    on: settings.cachedOptions,
    errors: (settings is defined ? settings.getErrors('cachedOptions') : null),
}) }}