{% set options = options ?? [] %}
{% set values = values ?? [] %}
{% set optionName = (name ?? false) ? "#{name}[]" : null %}

{% set fieldsetAttributes = {
    class: ['checkbox-group'],
} %}

{% if block('attr') is defined %}
    {% set fieldsetAttributes = fieldsetAttributes|merge(('<div ' ~ block('attr') ~ '>')|parseAttr, recursive=true) %}
{% endif %}

<fieldset {{ attr(fieldsetAttributes) }}>
    {% if name ?? false %}
        {{ hiddenInput(name, '') }}
    {% endif %}

    {% for key, option in options %}
        {% if option is not iterable %}
            {% set option = {label: option, value: key} %}
        {% endif %}
        <div>
            {% include "super-dynamic-fields/_field/input/inner/_checkbox" with {
                id: loop.first ? (id ?? null) : null,
                name: optionName,
                checked: (option.value is defined and option.value in values),
                autofocus: loop.first and (autofocus ?? false) and not craft.app.request.isMobileBrowser(true)
            }|merge(option) only %}
        </div>
    {% endfor %}
</fieldset>

{% if genError|length %}
	<div class="sdf-al-box border-box error matrixconfigitem text">
		<div class="sdf-error-message">
			<em class="alert icon">{{ genError }}</em>
			{% if template|length %}
			<a href="javascript:;" class="icon add error expand-code"></a>
			{% endif %}
		</div>

		{% if template|length %}
		<div class="code" style="display: none;">
			<pre>{{ template }}</pre>
		</div>
		{% endif %}
	</div>
{% endif %}
